body {
    background-color: #e7af8c;
}

main {
    width: 325px;
    height: 325px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    width: 100%;
    height: 33%;
    

}


.row > * {
    width: 33%;
    height: 100%;

}
